{% extends 'layout.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<br>
Collection method: {{ collection }}
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">

{% for key, value in toppingOptions.items() %}

  <div class="col">
    <div class="card h-100">
      <img src="/static/{{ value['image'] }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ value["title"] }}</h5>
        <p class="small text-muted">{{ 'From ${:.2f} | {}kJ'.format(value["price"], value["kJ"]) }}</p>
        <p class="card-text">{{ value["description"] }}</p>

      </div>
      <div class="card-footer">
          <a href="{{ url_for('customise', pizza=key) }}" class="btn btn-primary d-grid gap-2">Add</a>
      </div>
    </div>
  </div>

{% endfor %}

</div>





{% endblock %}