{% extends 'layout.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<br>
Collection method: {{ collection }}
<br>

{% for category, stuff in foodMenu.items() %}

<h1>{{ category }}</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for key, value in stuff.items() %}

  <div class="col">
    <div class="card h-100">
      <img src="/static/{{ value['image'] }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ value["title"] }}</h5>
        <p class="small text-muted">{{ 'From ${:.2f} | {}kJ'.format(value["price"], value["kJ"]) }}</p>
        <p class="card-text">{{ value["description"] }}</p>

      </div>
      <div class="card-footer">
        {% if category == 'toppingOptions' %}
          <a href="{{ url_for('customise', pizza=key) }}" class="btn btn-primary d-grid gap-2">Add</a>
        {% else %}
          <form action="/cart" method="post">
            <!-- Hidden form field to catch the category -->
            <input type="hidden" id="category" name="category" value="{{ category }}">
            <input type="hidden" id="item" name="item" value="{{ key }}">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>

          </form>
        {% endif %}
      </div>
    </div>
  </div>



{% endfor %}
  </div>

{% endfor %}

{% endblock %}